.background {
  background-image: url('../../assets/background_login.webp');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: column;
  padding: 2rem;
}

.card {
  background-color: var(--gray-100);
  box-shadow: 4px 8px 4px rgb(0, 0, 0, 0.2);
  border-radius: 24px;
  padding: 3rem;
  text-align: center;
}


.container {
  display: flex;
  justify-content: end;
}

.wrapper>div:first-child {
  text-align: center;
}

.card h2 {
  color: var(--white);
  font-style: normal;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.register span {
  color: var(--white);
  font-weight: 300;
  font-size: .8rem;
}

.register {
  text-align: left;
  margin-top: 1rem;
}

.register a {
  color: var(--white);
}