.container {
  display: flex;
  flex-direction: column;

  margin-bottom: .5rem;
}

.container label {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--primary);
}


.container input {
  width: 100%;
  padding: .5rem;
  border-radius: 16px;
  font-size: 1rem;
  border: 1px solid var(--primary);
  background-color: transparent
}

.container span {
  color: rgb(193, 32, 32);
}